:root {
    --color_white: rgb(243, 243, 243);

    --color_yellow: #FFD633;

    --color_black: #333;

    --color_blue_start: #19283D;

    --color_blue_end: #1D678F;

    --color_rain: #4DACFF;

    --color_white_cloud: rgb(242, 249, 254);

    --color_grey_cloud: #ccc;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
.banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background-image: url('./img/weather.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card{
    width: 300px;
    height: 400px;
    margin: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0,.5);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: white;    
}
.wx{
    margin-top: 10px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.card>p{
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
}
.NowWeather{
    width: 100%;
    padding: 0 30px;
}
.NowWeather p{
    letter-spacing: 5px;
    margin: 5px 0;
    font-size: 19px;
    color: white;
    font-family: 'Almarai', sans-serif;
    font-family: 'Lobster', cursive;
}
/* ------------------------svg-------------------- */
.sunny {
    width: 150px;
    height: 150px;
    fill: rgba(255, 214, 51, 1);
    stroke: rgba(255, 214, 51, 0.5);
    stroke-dasharray: 3px;
    stroke-width: 15px;
}

#sun {
    fill: rgba(255, 214, 51, 1);
    stroke: rgba(255, 214, 51, 0.5);
    stroke-dasharray: 3px;
    stroke-width: 15px;
}

.cloudy_sunny {
    width: 150px;
    height: 150px;

}

.cloudy {
    width: 150px;
    height: 150px;
}

#cloud {
    fill: rgb(242, 249, 254);
}

#cloud2 {
    fill: rgb(225, 241, 252);
}

.overcast {
    width: 150px;
    height: 150px;
}

#overcast_cloud {
    fill: rgb(209, 209, 209);
}

#overcast_cloud2 {
    fill: rgb(150, 146, 146);
}

.rainy {
    width: 150px;
    height: 150px;
}

.rainy_thunder{
    width: 150px;
    height: 150px;
}

#rain {
    fill: rgb(221, 234, 247);
}

#thunder{
    fill: rgba(255, 214, 51, 1);
    stroke:rgba(255, 214, 51, 1);
    stroke-width: 1;

}
